%h1 Designfilosofi
%p Utformingen av det norske Dvorak-oppsettet er basert på følgende prinsipper:
%h2 Bokstaver A-Z bør plasseres identisk med US Dvorak
%p Av hensyn til internasjonal standardisering bør man unngå ulik plassering av felles bokstaver. Riktignok er noe av tankegangen bak Dvorak basert på språkanalyse av hvilke tastekombinasjoner som forekommer oftest - men forskjellene mellom engelsk og norsk er sannsynligvis ikke store nok til å forsvare ulik plassering.
%h2 Gruppering av tegn på samme tast bør beholdes uendret fra norsk QWERTY
%p Hvis man sammenligner engelsk og norsk QWERTY-oppsett ser man forskjell i håndtering av blant annet disse tegnene: <>.:,;+?"' 
En vesentlig forskjell ligger i grupperingen av tegn på samme tast. Eksempelvis har US QWERTY kolon og semikolon på samme tast (:;) - mens norsk QWERTY har punktum og kolon på samme tast (.:).
%p Det vanligste US Dvorak-oppsettet følger prinsippet om at grupperingen av tegn på samme tast beholdes fra QWERTY. Kort sagt betyr dette at ingen taster endres fra QWERTY til Dvorak - de flyttes. Riktignok har ANSI Dvorak fraveket dette prinsippet - med den følge at nesten ingen bruker ANSI Dvorak.
%h2 Vokaler bør plasseres på venstre side
%p Et bærende prinsipp bak Dvorak-oppsettet er at vokaler bruker venstre hånd, mens de vanligste konsonanter dekkes av høyre hånd. Siden ÆØÅ er vokaler bør disse plasseres på venstre side.
%p I tillegg til anvendelsen av disse prinsippene valgte man for PC-tastatur å omplassere tastene [<>] og ['*] fordi ['*] bør ha en mer sentral plass siden den er mest brukt. Vokalen Å ble plassert på øvre rad siden den er mest brukt.
%p Utformingen av norsk Dvorak er i hovedsak et resultat av drøftinger mellom Carl Anton Stenling, Rolf Tore Randeberg og Arne Hansen.
