%html
  %head
    %title My Sinatra App
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"}
    :css
      body {padding-top: 40px;} 
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a{:href => "/", :class => "navbar-brand"} Norsk Dvorak
        .collapse.navbar-collapse
          %ul{:class => "nav navbar-nav"}
            %li
              %a{:href => "/"} Forside
    .container
      %h1 Hello World
      %p Your app is up and running!
