!!!
%html
  %head
    %title Norsk Dvorak
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"}
    :css
      body {padding-top: 40px;} 
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a{:href => "/", :class => "navbar-brand"} Norsk Dvorak
        .collapse.navbar-collapse
          %ul{:class => "nav navbar-nav"}
            %li
              %a{:href => "/"} Forside
            %li
              %a{:href => "/design"} Designfilosofi
            %li
              %a{:href => "/logo"} Logo
            %li
              %a{:href => "/lenker"} Andre nettsteder
    .container
      =yield
    .analytics
      %script
        :javascript
          (function(i,s,o,g,r,a,m){
            i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)
            },
            i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })
          (window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-3614288-1', 'tg90nor.net');
          ga('send', 'pageview');
