:preserve
			<h1>Andre nettsteder</h1>
			<p>
				<a href="http://no.egroups.com/subscribe/norskdvorak">Abonner på diskusjonsforumet for norsk Dvorak</a>
				<br />...spørsmål og svar, nyheter og oppdateringer
			</p>
			<p>
				<a href="http://www.gigliwood.com/abcd/">ABCD: A Basic Course in Dvorak</a>
				<br />Nettbasert opplæring for Dvorak tastatur.
			</p>
			<p>
				<a href="http://www.dcn.davis.ca.us/~sander/mensa/dvorak1.html">Dvorak Keyboard</a> (Sander Rubin)
				<br />Generell informasjon, litt (halv)vitenskapelig bakgrunn og noen politiske betraktninger.</p>
			<p>Gjør Dvorak kjent - legg inn <a href="logo.php">Norsk Dvorak-knapp</a> på din hjemmeside!</p>
